.Container {
    display: flex;
    justify-content: left;
    padding: 20px;
}

.Square {
    margin-right: 20px;
}
.SquareControls {
    width: 200px;
    /*margin-top: 20px;*/
    /*top: -2px;*/
    /*right: -220px;*/
}
.SquareControls input {
    width: 130px;
}
.SquareControls:last-child {
    text-align: left;
}
